
 body {
  background-color: url(/Users/Mac/Desktop/Boot-Camp/RePo/Good-Burger-MySQL/public/assets/img/good-burger-logo.png);
}

.jumbotron h1{
	color: hsl(34, 84%, 48%);

}

.jumbotron{
	padding-top: 1%;
	background-color:transparent !important;
}

img {
margin-top: 50%;
  width: 50%;
}

.submitFont{
	color: rgb(8, 145, 149);
}
