
 body {
  background-color: #f0560e;
}

.jumbotron h1{
	color: #eaec4c;

}

.jumbotron{
	padding-top: 1%;
	background-color:transparent !important;
}

img {
margin-top: 50%;
  width: 50%;
}

.submitFont{
	color: rgb(8, 145, 149);
}
